<h1 style="text-align:center;padding-top:10%;">
  Login Page
  </h1>
  <div class="login">
    <div class="danger" *ngIf="!error">Email or password is incorrect !!!</div>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login(loginForm.value)">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>
  
      <!-- <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div> -->
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
<!--   
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div> -->
  
      <p>
        <!-- <a routerLink="/list_page"> -->
            <input type="submit" value="Log in">
        <!-- </a> -->
      </p>
    </form>
  </div>
  