<h1 style="text-align:center;padding-top:10%;">
    Register
    </h1>
    <div class="login">
      <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login(loginForm.value)">
        <p>
          <input type="email" placeholder="Email" formControlName="email">
        </p>
        <p>
          <input type="password" placeholder="Password" formControlName="password">
        </p>
        <p>
          <input type="submit" value="Register">
        </p>
      </form>
    </div>
    