<ul *ngIf="tasks" class="list-group list-group-flush " >
    <li class="list-group-item" *ngFor="let data of tasks" let i=index>
        <input type="checkbox"  class="checkbox" (click)="selectOne(data.id)" [(ngModel)]="data.completed" [checked]="data.completed" />
        &nbsp;
        <span style="font-size: x-large;text-transform: capitalize;" [ngClass]="{'checked': data.completed}">{{data.tasks}}</span>
    </li>
  </ul>
  <div class="card heading-card">
    <div class="card-body">
      <label><input class="selectAll" type="checkbox" [checked]="selectedAll" (change)="selectAll($event)"/>  &nbsp;{{'TODO_LIST.SELECT_ALL' | translate }}</label>
      <span style="float: right;"><Button *ngIf="!buttonDisabled" id="Button" class="delete-button" (click)="deleteAll()">{{'TODO_LIST.DELETE' | translate}}</Button></span>
    </div>
</div>