<div class="app-root">
  <header>
  <h1  [style.background]="color1" >{{'APP.TITLE'|translate}}</h1>
  </header >
  <div class="content" >
    <div class="container">
      <div class="row theme" >
        <div class="col-md-6">
          <label >{{'APP.THEME' | translate}}</label>
          &nbsp; &nbsp;
           <input class="color-picker" [style.background]="color1" [(colorPicker)]="color1" (colorPickerChange)="onChangeColor($event)"/>
           <label>{{'APP.LANGUAGE' | translate}}</label>
           <span>
            <Button (click)="toggleLang('en')">English</Button>
           </span>
           <span>
            <button (click)="toggleLang('hi')">Hindi</button>
           </span>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <p class="footer-copyright" [style.background]="color1"  >{{'APP.FOOTER'| translate}}</p>
  </footer>
</div>
